# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Node modules
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native build artifacts
android/
ios/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*

# IDEs
.idea/
.vscode/
*.iml

# OS
Thumbs.db
Desktop.ini

# Typescript
*.tsbuildinfo

# Test coverage
coverage/

# Misc
*.log

# Output
out/

# Others
check.bat
README.md
